<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main style="width: 35%;">
        <% if(errorMessage){ %>

        <div> <%= errorMessage%> </div>
        <%}%>
        <form action="/login" method="POST">
            <div class="form-control">
                <label>E-mail</label>
                <input type="text" name="email" id="email" value="<%= oldInput.email %>">
        </div>

        <div class="form-control">
            <label>Password</label>
            <input type="password" name="password" id="password" value="<%= oldInput.password %>">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">
            Login
        </button>
        </form>
        <div style="text-align: center;">
            <a href="/reset">Reset Password</label>

        </div>
    </main>
</body>

</html>