<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main style="width: 35%;">
        <% if(errorMessage){ %>

        <div> <%= errorMessage%> </div>
        <%}%>
        <form action="/sign-up" method="POST">
            <div class="form-control">
                <label>E-mail</label>
                <input type="text" name="email" id="email" value="<%= oldInput.email %>">
        </div>
        <div class="form-control">
            <label>Password</label>
            <input type="password" name="password" id="password" value="<%= oldInput.password %>">
        </div>
        <div class="form-control">
            <label>Confirm Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" value="<%= oldInput.confirmpassword %>">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">
            Sign up
        </button>
        </form>
    </main>
</body>

</html>