<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main style="width: 35%;">
        <% if(errorMessage){ %>

        <div> <%= errorMessage%> </div>
        <%}%>
        <form action="<% if( editing==='true' || hasError ){ %> /edit-product <%}else{ %> /add-product <%} %>"
        method="POST" enctype="multipart/form-data">
        <% if( editing==='true'|| hasError ){ %>

        <input type="hidden" name="id" id="id" value="<% if( editing==='true'|| hasError){ %> <%= product._id %> <%}%>">
            <%} %>
        <div class=" form-control">
        <label>Book Title</label>
        <input type="text" name="title" id="title" placeholder="Book Title" value="<% if( editing==='true' || hasError ){ %> <%= product.title %> <%}%>">
        </div>
        <!-- <div class="form-control">
            <label>Image Url</label>
            <input type="text" name="imgUrl" id="imgUrl" placeholder="Image Url"
                value="<% if( editing==='true' || hasError ){ %> <%= product.imageUrl %> <%} %>">
        </div> -->
        <div class="form-control">
            <label>Image </label>
            <input type="file" name="image" id="image" placeholder="Image">
        </div>
        <div class=" form-control">
            <label>Book Description</label>
            <textarea name="description" id="description" rows="5" value="">

<% if( editing==='true' || hasError ){ %> <%= product.description %> <%} %>
                </textarea>
            <!-- <input type="text" name="description" id="description" placeholder="Book description"> -->
        </div>
        <div class="form-control">
            <label>Book Price </label>
            <input type=" number" name="price" step="0.01" id="price"
                value="<% if( editing==='true' || hasError ){ %> <%= product.price %> <%} %>" placeholder="Book Price">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <button class="btn" type="submit">
            <% if(editing==='true'){ %>Update Product <% }else{ %> Add Product <%}%>
            </button>
        </form>
    </main>
</body>

</html>